

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  body { 
      background-image: url("C:\Users\Generic\Documents\GitHub\TeenHelp\img");
      background-color: skyblue ;
}
   
h2 {
    color: darkblue;
}

nav ul il a {
    color:#000000;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 100;
}
header {
    width: 100x;
    height: 500px;
    background-image: url(../img/peace);
}














