

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
background: url(peace.jpg);
h2 {
    color: deepskyblue;
}

















