.jumbotron
{
    background: url(../img/peace.jpg);
    text-align: justify
    color: whitesmoke;
    text-shadow: 1px 1px 1px darkblue;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  body { 
      background-image: url("C:\Users\Generic\Documents\GitHub\TeenHelp\img");
      background-color: skyblue ;
}
  h1 {
    color: whitesmoke;
} 
h2 {
    color: whitesmoke;
}


nav ul il a {
    color:#000000;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 100;
}
header {
    width: 100x;
    height: 500px;
    background-image: url(../img/peace.jpg/);
}














